# Dependencies
/node_modules
/ui/node_modules

# SvelteKit build artifacts
/ui/.svelte-kit
/ui/build

# Logs
*.log
/ui/*.log

# Backups and large files
/backups/
/backups/**/*
*.tar.gz
/open-webui/

# OS-specific
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log* 