.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--background-primary);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--background-primary);
}

.header h1 {
    margin: 0;
    font-size: 1.2rem;
}

.switchButton {
    background-color: var(--background-primary);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent double scrollbars */
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.error {
    color: var(--error-color);
    text-align: center;
    padding: 2rem;
} 